$dark-bg: #21295C;
$dark-sec-bg: #1b3b6f;
$dark-accent: #1c7293;
$dark-sec-accent: #065a82;
$dark-white: #9eb3c2;
$error: #f44335;

body {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: $dark-bg;
  color: $dark-white;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}