$dark-bg: #21295C;
$dark-sec-bg: #253361;
$dark-accent: #1C7293;
$dark-sec-accent: #065A82;
$dark-white: #9EB3C2;
$error: #f44335;

$nav-bar-height: 40px;
$nav-bar-padding-x: 20px;

body {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: $dark-bg;
  color: $dark-white;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}