@import '../../index.scss';

.nav-bar {
    background-color: $dark-sec-bg;
    height: 60px;
    width: calc(100vw - 20px);
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
}

.content {
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 60px - 40px);
    overflow: auto;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}